.azad-header{
    border-top:.001rem solid var(--border-top);
    background: var(--white);
    -webkit-box-shadow: var(--shadow);
    -ms-box-shadow: var(--shadow);
    -moz-box-shadow: var(--shadow);
    box-shadow: var(--shadow);

    .header-container{
        display:flex;
        flex-direction:row;

        .logo{
            display:flex;
            align-items:center;

            h1{
                line-height:1.5rem;
                a{
                    display:inline-block;
                }
            }
        }

        .azad-nav{
            width: 100%;

            .azad-menus{

                ul{
                    display: flex;
                    justify-content: flex-end;

                    li{
                        position:relative;
                        a{
                            color: var(--text);
                            padding: 2rem 1rem;
                            display: block;
                            
                            &:hover{
                                text-decoration:none;
                            }
                        }
                        ul{
                            position:absolute;
                            top:100%;
                            left:0%;
                            display:flex;
                            flex-direction:column;
                            width:240px;
                            opacity: 0;
                            visibility: hidden;
                            padding:12px 20px;
                            li{
                                width:100%;
                                text-align:left;
                                padding:0px 7px;
                                transition: all 0.4s ease-in-out;
                                a{
                                    padding: 4px;
                                    color:red;
                                }
                            }
                        }
                        &:hover{
                            ul{
                                opacity:1;
                                visibility:visible;
                                height:fit-content;
                                background:var(--white);
                                padding:12px 20px;
                                li{
                                    padding:7px 7px;                                    
                                    a{
                                        padding:4px;
                                        color:var(--black);
                                    }
                                    &:hover{
                                        background:blue;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .azad-header{
        .header-container{
            flex-direction:column;
            
            .logo{text-align:center;}

            .azad-nav{
                .azad-menus{
                    ul{
                        justify-content: center;
                    }
                }
            }
        }
    }
}