.azad-demo {
    background: var( --text );
    color: var( --white );
    text-align: left;

    h2 { 
        margin-bottom: 2rem;
    }

    a { 
        color: blue; 
        &:link {
            color: var( --white, yellow );
        }
        &:hover { 
            color: var( --black );
        }
    }    
}

.azad-sites {
    background: var( --bg );
    color: var( --white );
    text-align: left;

    h2 { 
        margin-bottom: 2rem;
    }

    a { 
        color: blue; 
        &:link {
            color: var( --white );
        }
        &:hover { 
            color: var( --black );
        }
    }    
}