.azad-header{
    border-top:.001rem solid var(--border-top);
    background: var(--white);
    -webkit-box-shadow: var(--shadow);
    -ms-box-shadow: var(--shadow);
    -moz-box-shadow: var(--shadow);
    box-shadow: var(--shadow);

    .header-container{
        display:flex;
        flex-direction:row;

        .logo{
            width: 100%;
            text-align:left;
            position:relative;
            display:flex;
            align-items:center;

            h1{
                line-height:0;
                a{
                    display: inline-block;
                }
            }
            .burger-button{
                display: none;
            }
        }

        .azad-nav{
            width: 100%;

            .desktop-menus{
                height: 100%;

                ul{
                    display: flex;
                    justify-content: flex-end;
                    height:100%;
                    align-items: center;

                    li{
                        a{
                            color: var(--text);
                            padding: 2rem 1rem;
                            display: block;
                            text-decoration: none;
                            position:relative;

                            &:after {
                                content: '';
                                position: absolute;
                                width: 100%;
                                bottom: 0;
                                right: 0;
                                transform: translate3d(0,0,0);
                                transition: all .4s;
                                transition-timing-function: cubic-bezier(.7,0,.3,1);
                                background: var(--text);
                                height: 0;
                            }
                            &:hover {
                                &:after {
                                    height: 100%;
                                    background: rgba(0,186,186,0.1)!important;
                                }                            
                            }
                        }
                    }
                }
            }            
        }
    }
    .mobile-menus{
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    .azad-header{
        .header-container{
            flex-direction:column;            
            .logo{
                text-align:center;
                position:relative;

                .burger-button{
                    padding:5px;
                    border-radius: 4px;
                    background:var(--text);
                    width: 30px;
                    display:flex;
                    position:absolute;
                    top:50%;
                    right:0;
                    transform:translate(0%,-50%);
                    transition:all .5s;

                    span{
                        position:relative;
                        width: 100%;
                        height: 4px;
                        margin: 10px 0;
                        background:var(--white);
                        color:red;

                        &:before, &:after{
                            content:'';
                            display:block;
                            width: 100%;
                            height: 100%;
                            position:absolute;
                            top: -10px;
                            background:var(--white);
                        }
                        &:after{
                            top: 10px;
                        }
                    }
                }
                .burger-button.active{
                    span{
                        background:none;
                        &:before,&:after{
                            top:0;
                        }
                        &:before{
                            transform:rotate(45deg);
                        }
                        &:after{
                            transform:rotate(135deg);
                        }
                    }
                }                                
            }
            .desktop-menus{
                display: none;
            }
        }
        .active{
            display: block;
        }
    }
}