.azad-header {
    border-top: .001rem solid var( --border-top );
    background: var( --white );
    -webkit-box-shadow: var( --shadow );
    -ms-box-shadow: var( --shadow );
    -moz-box-shadow: var( --shadow );
    box-shadow: var( --shadow );

    .header-container {
        display: flex;
        flex-direction: row;

        .logo {
            width: 100%;
            text-align: left;
            display: flex;
            align-items: center;

            h1 {
                line-height: 0;
            }
        }

        .azad-nav {
            width: 100%;

            .desktop-menus {
                height: 100%;

                ul {
                    display: flex;
                    justify-content: flex-end;
                    height: 100%;
                    align-items: center;

                    li {
                        a {
                            color: var( --text );
                            padding: 2rem 1rem;
                            display: block;
                            text-decoration: none;
                            position: relative;

                            &:after {
                                content: '';
                                position: absolute;
                                width: 100%;
                                bottom: 0;
                                right: 0;
                                transform: translate3d( 0, 0, 0 );
                                transition: all .4s;
                                transition-timing-function: cubic-bezier( .7, 0, .3, 1 );
                                background: var( --text );
                                height: 0;
                            }
                            &:hover {
                                &:after {
                                    height: 100%;
                                    background: rgba( 0, 186, 186, 0.1 ) !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and ( max-width: 767px ),
only screen and ( max-device-width: 767px ) {
    .azad-header {
        .header-container {
            flex-direction: column;

            .logo {
                justify-content: center;
                position: relative;

                .burger-button {
                    width: 33px;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translate( 0%, -50% ) rotate( 0deg ); 

                    span {
                        width: 7px;
                        height: 7px;
                        margin: 2px;
                        background: var( --text );
                    }
                    span:nth-child( 2 ),
                    span:nth-child( 3 ),
                    span:nth-child( 6 ) {
                        background: var( --text );
                        transform: translateX( 0 );
                        transition: all 0.3s ease-in-out;
                    }
                    &:hover {
                        span:nth-child( 2 ),
                        span:nth-child( 3 ),
                        span:nth-child( 6 ) {
                            transform: translateX( -15px );
                            background: var( --transparent );
                        }
                    }        
                }
            }

            .desktop-menus {
                display: none;
            }

            .azad-nav {
                .desktop-menus {
                    ul {
                        justify-content: center;
                    }
                }
            }
        }
    }
}