.azad-header{
    background: var(--white);
    -webkit-box-shadow: var(--shadow);
    -ms-box-shadow: var(--shadow);
    -moz-box-shadow: var(--shadow);
    box-shadow: var(--shadow);

    .header-container{
        display:flex;
        flex-direction:row;

        .logo{
            width: 100%;
            text-align:left;
            display:flex;
            align-items:center;
            position:relative;

            h1{
                line-height:0;
            }
        }

        .azad-nav{
            width: 100%;

            .desktop-menus{
                height: 100%;

                ul{
                    display: flex;
                    justify-content: flex-end;
                    height:100%;
                    align-items: center;

                    li{
                        a{
                            color: var(--text);
                            padding: 2rem 1rem;
                            display: block;                            
                            text-decoration: none;
                            position:relative;

                            &:before {
                                content: '';
                                position: absolute;
                                width: 0;
                                top: 0;
                                right: 0;
                                height: 2px;
                                border-radius:4px;
                                transition: all 0.5s ease-in-out;
                            }

                            &:hover {
                                &:before {
                                    background: var(--text);
                                    width:100%;
                                }                            
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 767px), only screen and (max-device-width: 767px){
    .azad-header{
        .header-container{
            flex-direction:column;
            
            .logo{
                justify-content:center;
                position:relative;

                .burger-button{
                    padding:5px;
                    border-radius: 4px;
                    width: 30px;
                    display:flex;
                    position:absolute;
                    top:50%;
                    right:0;
                    transform:translate(0%,-50%);

                    span{
                        position:relative;
                        width: 100%;
                        height: 4px;
                        color:red;
                        background:black;

                        &:before, &:after{
                            content:'';
                            display:block;
                            width: 100%;
                            height: 100%;
                            position:absolute;
                            top: -10px;
                            background:var(--white);
                            background:black;
                        }
                        &:before{
                            width: 125%;
                        }
                        &:after{
                            top: 10px;
                            width: 75%;
                        }
                    }
                    &:hover{
                        span{
                            width: 100%;
                            
                            &:before{
                                width: 75%;
                            }
                            &:after{
                                width: 75%;
                            }
                        }
                    }
                }        
            }

            .desktop-menus{
                display: none;
            }
        }
    }
}