.azad-footer {
    background: var( --text );
    color: var( --white );
    padding: 1rem 0;

    .footer-container {
        overflow: overlay;
        p {
            margin: 0;
        }
    }    
}