/**
*------------------------------------------------------------------------------------------
*	= PROJECT NAME: A LANDING PAGE
*	= PROJECT DESCRIPTION: A BUSINESS LANDING PAGE
*	= FILE NAME: CUSTOM.CSS
*	= AUTHOR: MD. ABUL KALAM AZAD
*	= AUTHOR URI: http://www.theinfotechs.com
*	= DEVELOPER: MD. ABUL KALAM AZAD
*	= DEVELOPER URI: http://www.theinfotechs.com
*	= VERSION: 0.0.1
*	= DEVELOPMENT DATE: 21/12/16
* 	= COUNTRY: BANGLADESH
*------------------------------------------------------------------------------------------
*/
/**
*------------------------------------------------------------------------------------------
*	:: SECOND WAY TO RESET CODE
*------------------------------------------------------------------------------------------
*/
html, body, div, span, applet, object, iframe, pre, a, abbr, acronym, big, cite, code, del, dfn, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, fieldset, form, label, lagend, table, caption, tbody, thead, tfoot, th, tr, td, section, article, aside, header, hgroup, nav, menu, footer, h1, h2, h3, h4, h5, h6, p, blockquote, address, time, mark, span, em, strong, img, ol, ul, li, figure, figcaption, details, embed, canvas, audio, video, output, ruby summary input {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1rem;
  vertical-align: baseline;
  font: inherit;
  background: transparent;
}

/**
*------------------------------------------------------------------------------------------
*	:: HTML5 DISPLAY RULE
*------------------------------------------------------------------------------------------
*/
address, article, aside, canvas, details, figure, figcaption, footer, header, hgroup, menu, nav, section, summary, main {
  display: block;
}

/**
*------------------------------------------------------------------------------------------
*	:: GLOBAL STYLE
*------------------------------------------------------------------------------------------
*/
:root {
  --ff:verdana;
  --width:85vw;
  --padding-top:5rem;
  --paddin-bottom:5rem;
}

html {
  background: var(--bg-color);
}

html body {
  font: 1em/1.25em "Cabin", Helvetica, Arial, sans-serif;
  color: var(--text-color);
  text-align: center;
  -webkit-font-smoothing: antialiased;
  /* Chrome Suffery     */
  -moz-font-smoothing: antialiased;
  /* Firefox            */
  -ms-font-smoothing: antialiased;
  /* Internet Explorer  */
  -o-font-smoothing: antialiased;
  /* Opera              */
  font-smoothing: antialiased;
  /* Official           */
}

html body .azad-container {
  width: var(--width);
  margin: 0 auto;
}

html body .azad-section {
  padding: var(--padding-top) 0;
}

html body h1 {
  font: 2rem/1.5rem "Cabin", Helvetica, Arial, sans-serif;
}

html body h2, html body h3 {
  font: 21px/1.5em "Cabin", Helvetica, Arial, sans-serif;
}

html body h4 {
  font: 16px/1.5em "Cabin", Helvetica, Arial, sans-serif;
}

html body h5 {
  font: 14px/1.5em "Cabin", Helvetica, Arial, sans-serif;
}

html body h6 {
  font: 12px/1.5em "Cabin", Helvetica, Arial, sans-serif;
}

html body a {
  text-decoration: none;
}

html body a:link {
  color: var(--text-color);
  text-decoration: none;
}

html body a:hover, html body a:focus, html body a:active, html body a:visited {
  color: var(--border-top-color);
  text-decoration: underline;
}

html body p {
  margin-bottom: 1em;
}

html body strong {
  font-weight: bold;
}

html body em {
  font-style: italic;
}

html body ol, html body ul {
  list-style: none;
}

html body blockquote {
  border: 0;
  font: italic 21px/1.5em "Gentium Basic", Georgia, serif;
  color: #2894d8;
}

html body blockquote cite {
  display: block;
  margin-top: 42px;
  font-size: 16px;
  font-style: normal;
}

html body hr {
  border: none;
  height: 1px;
  background-color: #ededed;
  margin: 3em 0;
}

html body input {
  background: #696969;
  border: 1px solid #c3c3c3;
  color: #cbcbcb;
  padding: 3px;
}

html body input:focus, html body input:hover {
  background: #ededed;
  color: #4e4e4e;
}

@media only screen and (max-width: 767px) {
  .azad-section {
    padding: 3rem 0;
  }
}

:root {
  --border-top: tomato;
  --text: rgba(57,225,245,1);
  --bg:rgba(65,64,66,.8);
  --white:rgba(255,255,255,1);
  --black:rgba(0,0,0,1);
  --tranparent:rgba(0,0,0,0);
  --shadow:0,0,1em rgba(0,0,0,.25);
  --border-radius:3px;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  width: 100vw;
  height: 100vh;
  background: #282828;
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  transition-duration: 500ms;
  -webkit-transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  z-index: 99;
  -webkit-transition-delay: 0.65s;
          transition-delay: 0.65s;
}

.preloader * {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  transition-duration: 500ms;
  -webkit-transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}

.preloader:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 200px 100vh 0;
  border-color: transparent #282828 transparent transparent;
  position: absolute;
  left: -200px;
  top: 0;
}

.preloader:after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 100vh 0 0 200px;
  border-color: transparent transparent transparent #282828;
  position: absolute;
  right: -200px;
  top: 0;
}

.preloader .inner {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.preloader .inner .logo {
  display: inline-block;
  margin: 0;
  -webkit-animation: fadeInUp ease 0.6s;
          animation: fadeInUp ease 0.6s;
}

.preloader .inner .logo img {
  height: 50px;
}

.preloader .inner .percentage {
  width: 100%;
  font-size: 70vh;
  line-height: 1;
  font-weight: 800;
  color: #fff;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
  opacity: 0.05;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.page-loaded.preloader {
  left: calc(-100% - 200px);
  visibility: hidden;
}

.page-loaded.preloader .logo {
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
  opacity: 0;
}

.page-loaded.preloader .percentage {
  margin-left: 100px;
  opacity: 0;
}

.azad-header {
  border-top: 0.001rem solid var(--border-top);
  background: var(--white);
  -webkit-box-shadow: var(--shadow);
  -ms-box-shadow: var(--shadow);
  box-shadow: var(--shadow);
}

.azad-header .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.azad-header .header-container .logo {
  width: 100%;
  text-align: left;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.azad-header .header-container .logo h1 {
  line-height: 0;
}

.azad-header .header-container .logo h1 a {
  display: inline-block;
}

.azad-header .header-container .logo .burger-button {
  display: none;
}

.azad-header .header-container .azad-nav {
  width: 100%;
}

.azad-header .header-container .azad-nav .desktop-menus {
  height: 100%;
}

.azad-header .header-container .azad-nav .desktop-menus ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.azad-header .header-container .azad-nav .desktop-menus ul li a {
  color: var(--text);
  padding: 2rem 1rem;
  display: block;
  text-decoration: none;
  position: relative;
}

.azad-header .header-container .azad-nav .desktop-menus ul li a:after {
  content: '';
  position: absolute;
  width: 100%;
  bottom: 0;
  right: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: all .4s;
  transition: all .4s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
          transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  background: var(--text);
  height: 0;
}

.azad-header .header-container .azad-nav .desktop-menus ul li a:hover:after {
  height: 100%;
  background: rgba(0, 186, 186, 0.1) !important;
}

.azad-header .mobile-menus {
  display: none;
}

@media only screen and (max-width: 767px) {
  .azad-header .header-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .azad-header .header-container .logo {
    text-align: center;
  }
  .azad-header .header-container .desktop-menus {
    display: none;
  }
}

.azad-demo {
  background: var(--text);
  color: var(--white);
  text-align: left;
}

.azad-demo h2 {
  margin-bottom: 2rem;
}

.azad-demo a {
  color: blue;
}

.azad-demo a:link {
  color: var(--white, yellow);
}

.azad-demo a:hover {
  color: var(--black);
}

.azad-sites {
  background: var(--bg);
  color: var(--white);
  text-align: left;
}

.azad-sites h2 {
  margin-bottom: 2rem;
}

.azad-sites a {
  color: blue;
}

.azad-sites a:link {
  color: var(--white);
}

.azad-sites a:hover {
  color: var(--black);
}

.azad-footer {
  background: var(--text);
  color: var(--white);
  padding: 1rem 0;
}

.azad-footer .footer-container {
  overflow: overlay;
}

.azad-footer .footer-container p {
  margin: 0;
}
/*# sourceMappingURL=style.css.map */